<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",

  "mainEntityOfPage": {
    "@type": "WebPage",
    "url": "{{ page.url | absolute_url }}"
  },

  "headline": {{ page.title | truncate 110 | jsonify }},
  "name": {{ page.title | truncate 110 | jsonify }},
  "abstract": {{ post.excerpt | jsonify }},
  "description": {{ post.excerpt | jsonify }},
  "articleBody": {{ page.content | jsonify }},
  "text": {{ page.content | jsonify }},
  "wordCount": {{ page.content | number_of_words }},
  "keywords": {{ page.tags | jsonify }},

  "image": "{{ page.image | absolute_url }}",
  "thumbnailUrl": "{{ page.image | absolute_url }}",

  "author": {
    "@type": "Person",
    "name": "Philippe Vinchon"
  },

  "datePublished": "{{ page.date | date: "%Y-%m-%d" }}",
  "dateModified": "{{ page.date | date: "%Y-%m-%d" }}"
}
</script>
