{% for post in posts %}
<article>

  <h1 class="title">
    <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
  </h1>

  <div class="subtitle date is-6">
    {{ post.date | date: "%B %-d, %Y" }}
  </div>

  <div class="content">
    {% if post.description %}
      {{ post.description }}
    {% elsif post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content }}
    {% endif %}
  </div>

  <div class="subtitle tags is-6">
    {% for hashtag in site.hashtags %}
      {% assign tag = hashtag.title | downcase %}
      {% if post.tags contains tag %}
        <a class="subtitle is-6" href="{{ hashtag.url | absolute_url }}">#{{tag}}</a>
      {% endif %}
    {% endfor %}
  </span>

  <a class="is-pulled-right" href="{{ post.url | absolute_url }}">
    Read more
  </a>

</article>
{% endfor %}
