a:hover, a:focus {
    text-decoration: none;
    border-bottom: solid 1px currentColor;
}

.sidebar-nav ul {
    list-style: none;
    padding-inline-start: 0px;
}

.sidebar-nav div {
    margin-bottom: 1em;
}

.sidebar-nav .sidebar-nav-links {
    font-size: 0.8em;
}

.post-metadata {
    padding-inline-start: 0px;
}

.post-metadata li {
    list-style: none;
    margin-top: -0.3em
}

.post-metadata li span {
    font-weight:bold;
}

.post-metadata li a {
    font-size: 0.9em;
}

.social-personal {
    text-align: center;
    font-size: 1.3em;
}

.social-sharing {
    text-align: right;
    font-size: 1.3em;
}
