{{ define "main" -}}
  <div class="post">
    <h1>{{ .Title }}</h1>
    <ul class="post-metadata">
      <li><span>Posted:</span> <time datetime={{ .Date.Format "2006-01-02T15:04:05Z0700" }}>{{ .Date.Format "Jan 2, 2006" }}</time></li>
      {{ if .Params.Series }}<li><span>Series:</span> <a href="/series/{{ .Params.Series | urlize}}">{{ .Params.Series }}</a></li>{{- end }}
      {{ if .Params.Tags }}<li><span>Tags:</span> {{ range .Params.tags }} <a href="/tags/{{ . | urlize }}.html">{{ . }}</a> {{- end }}</li>{{- end }}
    </ul>

    {{ .Content }}
  </div>

  {{ partial "posts/social-sharing.html" . }}
  {{ partial "schema-org/blog-posting.html" . }}
{{- end }}
