:root {
  --nav-width: 90%;
  --main-width: 90%;

  --hljs-bg: #f8f8f8;
}

.header {
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin-left: auto;
  margin-right: auto;
}

.entry {
  position: relative;
  margin-bottom: var(--header-height);
}

.entry .entry-image {
  max-height: 10px;
  overflow:hidden;
}

.entry .entry-content {
  display: block;
}

.entry .entry-metadata {
  color: var(--secondary);
  font-size: 14px;
}

.post-content pre code {
  color: inherit;
}

.post-tags li {
  margin-bottom: 10px;
}
