<!DOCTYPE html>
<html lang="{{site.language}}">
  <head>
    {% include google-tag-manager.html %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="shortcut icon" href="{{ "/assets/images/favicon.png" | absolute_url }}">

    <link rel="stylesheet" href="{{ "/assets/css/kiss.css" | absolute_url }}" />
    <link rel="stylesheet" href="{{ "/assets/css/rougify.css" | absolute_url }}" />
    <link rel="stylesheet" href="{{ "/assets/css/custom.css" | absolute_url }}" />

    {% seo %}
  </head>
  <body>
    <section class="section">
      <div class="container">
        <nav id="nav-main" class="nav">
          <div class="nav-right">
            <nav id="nav-items" class="nav-item level is-mobile">
              <a class="level-item" href="{{ "/" | absolute_url }}">Home</a>
              <a class="level-item" href="{{ "/hashtags.html" | absolute_url }}">Tags</a>
              <a class="level-item" href="https://github.com/plippe" target="_blank">GitHub</a>
              <a class="level-item" href="https://linkedin.com/in/pvinchon" target="_blank">LinkedIn</a>
              <a class="level-item" href="{{ "/feed.xml" | absolute_url }}" target="_blank">RSS</a>
            </nav>
          </div>
        </nav>
      </div>
    </section>
    <section class="section">
      <div class="container">
        {{content}}
      </div>
    </section>
  </body>
</html>
