<!DOCTYPE html>
<html lang="{{site.language}}">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | absolute_url }}" />
        <link rel="stylesheet" href="{{ "/assets/css/rougify.css" | absolute_url }}" />

        <style>
            body {
                padding: 0 20px;
            }

            img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
            }
        </style>
    </head>
    <body>
        {{content}}
    </body>
</html>
