---
layout: default
---

<h1>My Posts</h1>

{% for post in site.posts %}
  <div>
    <h2><a href="{{ post.url | absolute_url }}">{{post.title}}</a></h2>
    <i>posted on {{ post.date | date: "%-d %b %Y" }}</i>
    <div>
      {% if post.excerpt %}
        {{ post.excerpt }}
      {% else %}
        {{ post.content }}
      {% endif %}
    </div>
  </div>
{% endfor %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "ItemList",

  "mainEntityOfPage": {
    "@type": "WebPage",
    "url": "{{ page.url | absolute_url }}"
  },

  "itemListElement": [
    {% for post in site.posts %}
    {
      "@type": "ListItem",
      "position": "{{ forloop.index }}",
      "url": "{{ post.url | absolute_url }}"
    },
    {% endfor %}
    null
  ]
}
</script>
