---
layout: default
---

<img src="{{ page.image | absolute_url }}" />
<h1>{{ page.title }}</h1>
<i>posted on {{ page.date | date: "%-d %b %Y" }}</i>

{{ content }}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",

  "mainEntityOfPage": {
    "@type": "WebPage",
    "url": "{{ page.url | absolute_url }}"
  },

  "headline": "{{ page.title | truncate 110 }}",
  "description": "{% if post.excerpt %}{{ post.excerpt }}{% else %}{{ post.content }}{% endif %}",
  "image": "{{ page.image }}",

  "author": {
    "@type": "Person",
    "name": "Philippe Vinchon"
  },

  "datePublished": "{{ page.date | date: "%-d %b %Y" }}"
}
</script>
